<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
    <link rel="icon" href="favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body style="margin: 20px; font-family: Arial;">
    <h1 style="margin-bottom: 40px;"><img src="./favicon.ico" alt="logo" width="20"/> gribouille/elm-table examples</h1>
    
    <div>
      <ul class="nav nav-tabs" id="tabExamples" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#ex1" id="ex1-tab" data-toggle="tab" role="tab" aria-controls="ex1" aria-selected="true">Example 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ex2" id="ex2-tab" data-toggle="tab" role="tab" aria-controls="ex2" aria-selected="false">Example 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ex3" id="ex3-tab" data-toggle="tab" role="tab" aria-controls="ex3" aria-selected="false">Example 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"  href="#ex4" id="ex4-tab" data-toggle="tab" role="tab" aria-controls="ex4" aria-selected="false">Example 4</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade show active" id="ex1" role="tabpanel" aria-labelledby="ex1-tab">
          <div id="example1"></div>
        </div>
        <div class="tab-pane fade" id="ex2" role="tabpanel" aria-labelledby="ex2-tab">
          <div id="example2"></div>
        </div>
        <div class="tab-pane fade" id="ex3" role="tabpanel" aria-labelledby="ex3-tab">
          <div id="example3"></div>
        </div>
      </div>

    </div>

  </body>
</html>