@use "icons";

.grt-spinner {
  margin-right: 50%;
  margin-left: 50%;
  height: 200px;
  padding-top: 80px;
  margin-bottom: 100px;
}

.grt-error {
  color: rgba(255, 0, 0, 0.8);
  text-align: center;
  font-style: italic;
}

.grt-table-header {
  @extend .field;
  @extend .is-grouped;

  .header-search {
    @extend .control;
    @extend .is-expanded;
    @extend .has-icons-right;
    min-width: 200px;
  }

  .header-custom {
    padding-right: 16px;
    display: flex;
  }

  .header-toolbar {
    @extend .control;
    @extend .field;
    @extend .is-grouped;

    .toolbar-dropdown {
      @extend .control;
      @extend .dropdown;
      @extend .is-right;
    }

    .button {
      width: 50px;
    }

    .dropdown-item {
      padding-right: 16px;
      display: inline-block;
      width: 192px;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }

    .check {
      float: right;
      font-weight: bold;
      color: green;
    }
  }
}

.table-content {
  @extend .table;

  table {
    @extend .table;
    @extend .is-striped;
    @extend .is-hoverable;
    @extend .is-fullwidth;
  }

  .table {
    .sort {
      color: lightgray;
      margin-left: 5px;
    }
  }

  .table-footer {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .is-disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: lightgray;
  }

  .cell-expand {
    margin: 0;
    padding: 0;
    padding-top: 3px;
  }

  .btn-expand {
    background: none !important;
    border: none;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    width: 30px;
    height: 30px;

    &:disabled {
      color: lightgray;
      cursor: default;
    }
  }

  .btn-subtable {
    display: block;
    padding-top: 10px;
    height: 16px;
    width: 16px;
  }

  .col-selection {
    padding-top: 10px;
    input {
      position: relative;
      vertical-align: middle;
    }
  }
}

.subtable-content {
  .subtable-toolbar {
    height: 30px;
    display: flex;
    justify-content: space-between;
  }
}
