$fa-font-path: "~/font-awesome/fonts";
@import 'font-awesome/scss/font-awesome';
@import 'bootstrap/scss/bootstrap';


.toolbar {
  margin-top   : 10px;
  margin-bottom: 5px;
  height       : 26px;

  button {
    width: 34px;
    height: 26px; 
    margin-left: 10px;
    text-align: center;
    padding: 0;
    i { 
      vertical-align: middle; 
    }
  }
}

table {
  margin-top: 10px;

  td {
    input[type="checkbox"] { vertical-align: middle; }
  }
}
